@charset "utf-8";
.container header {
    background-color: #F40004;
}
.container header nav {
    background-color: #F900CE;
}
.container #hero {
    background-image: url(images/Ch%C3%A8.jpg);
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 24px;
}

.container #about {
    background-image: linear-gradient(
        180deg,
        rgba(244,240,240,1) 0%,
        rgba(8,211,32,1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0; 
}

/* 移除 text_column 的背景，讓它使用外層的大背景 */
.container #about .text_column {
    background: none; 
}

.container #about h2 {
    text-align: left;
}
.container #contact .hero_header {

}
.container #contact {
    background-image: url(images/vn.jpg);
}
.container #contact .button {

}
