@charset "utf-8";
.container header {
    background-color: #F40004;
}
.container header nav {
    background-color: #F900CE;
}
.container #hero {
    background-image: url(images/Ch%C3%A8.jpg);
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-size: 24px;
}
.container #about .text_column {
    background-image: -webkit-linear-gradient(270deg,rgba(244,240,240,1.00) 0%,rgba(8,211,32,1.00) 100%), url(images/T%C3%A0o%20ph%E1%BB%9B.jpg);
    background-image: -moz-linear-gradient(270deg,rgba(244,240,240,1.00) 0%,rgba(8,211,32,1.00) 100%), url(images/T%C3%A0o%20ph%E1%BB%9B.jpg);
    background-image: -o-linear-gradient(270deg,rgba(244,240,240,1.00) 0%,rgba(8,211,32,1.00) 100%), url(images/T%C3%A0o%20ph%E1%BB%9B.jpg);
    background-image: linear-gradient(180deg,rgba(244,240,240,1.00) 0%,rgba(8,211,32,1.00) 100%), url(images/T%C3%A0o%20ph%E1%BB%9B.jpg);
}
.container #about h2 {
    text-align: left;
}
.container #contact .hero_header {

}
.container #contact {
    background-image: url(images/vn.jpg);
}
.container #contact .button {

}
